@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --bg1: #2e3440;
    --bg2: #3b4252;
    --fg1: #d8dee9;
    --fg2: #e5e9f0;
    --fg3: #eceff4;
}
html,body{
    font-family: 'Roboto', system-ui;
    background-color: var(--bg1);
}
#title{
color: var(--fg3);
font-weight: normal;
font-size: 96px;
line-height: 112px;
}
#tagline{
    color: var(--fg1);
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
#about_header{
    color: var(--fg1);


}
#about_body{

font-weight: normal;
font-size: 18px;
line-height: 21px;

color: var(--fg3);

}
.social_link{
    font-size: 18px;
    line-height: 41px;
    text-align: center;
    width: 220px;
    height: 41px;
    color: var(--fg3);
    background-color: var(--bg1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}